a { text-decoration: none; }
.menu-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}
.h1-text{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.text-p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.h2-text{
    color: coral;
    font-weight: 700;
    font-style: normal;
    line-height: 80px;
    font-size: 36px;

}