* {   
    margin: 0;
    padding: 0;
 }

.header{
    max-width: 1200px;
    min-height: 100vh;
    border: 1px solid #000;
}

.content{
    display: flex;
    justify-content: center;
    background-color: aqua;
    flex-wrap: wrap;
}
.item{
    width: 33.33333vw;

    height: 50vh;
    border: 1px solid #000;
    box-sizing: border-box;
}

@media(max-width: 1024px){
    /*Стили для планшета*/
    h1{
        font-size: 24px;
    }
}