*{
    margin: 0;
    padding: 0;
}
  
  .roboto-thin {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
.center{
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
  }
  
.top {
  padding-bottom: 99px;
}

a{
  color:#000000;
  text-decoration: none;
}

a:active {
  color: #F25822; 
}
.active {
  color: #F25822;
}

.top_header {
  padding-top: 40px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  font-weight: 533px;
  font-size: 17px;
}

.header_references{
  display: flex;
  gap: 40px;
  align-items: center;
}

.get_standart{
  width: 120px;
  height: 40px;
  border: none;
  background-image: url('img/botton.png');
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.top_content {
  margin-top: 84px;
  margin-bottom: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 39px;
}

.Marketing{
background-image: url(img/Ellipse\ 2.svg);
}

.text {
  padding-bottom: 17px;
  height: 48px;
  width: 466px;
  color: (136, 136, 136);
}

.botton{
  padding: 140px 40 px;
  font-size: 15px;
}

.subtitle {
  margin-bottom: 10px;
  font-weight: 400px;
  font-size: 60px;
}

.top_buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  outline: none;
  border: none;
  gap: 30px;
}

.button_start{
  width: 140px;
  height: 50px;
  border: none;
  background-image: url('img/botton.png');
  background-size: cover;
  align-items: center;
}
.button{
  display: flex;
  align-items: center;
  gap: 15px;
  background: none;
  border: none;
}

.top_logos {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
}


.content{
  background: rgb(250, 250, 250);
  background-image: url(img/element.svg);
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  }

.top_info_text{
  padding-bottom: 35px;
}

.item_center{
  font-size: 24px;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
  font-family:roboto-regular;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.item_text{
  font-family:roboto-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

}
.item{

  font-family:roboto-bold;
  font-size: 24px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

}

.content2{
  display: flex;
  gap: 61px;
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 192px;
}

.read_more{
  font-size: 14px;
}

.item_header{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}
.heading{
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
}
.item_header_text{
color: rgb(102, 102, 102);
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
}

.content3{
  background: rgb(250, 250, 250);
}
.content4{
  padding-top: 54px;
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
  display: flex;
  gap: 30px;
  align-items: flex-start;
  background: rgb(250, 250, 250);
}

.item_long{
height: 549px;
display: flex;
gap: 30px;
align-items: center;
font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
}
.item_long2{
box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255);  
height: 549px;
display: flex;
gap: 30px;
align-items: center;
font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
}

.item_text_content4{
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.heading1{
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-size: 35px;


}